.cabinet-outer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewport-container {
  width: min(56.25vh, 95vw);
  height: min(95vh, 168.89vw);
  position: relative;
  border: 2px solid rgb(22, 22, 26);
  background: rgb(5, 5, 6);
  overflow: hidden;
}
